In [1]:
import pandas as pd
import math

In [25]:
cereal_df = pd.read_csv("Worldwide-Earthquake-database.csv", encoding = "ISO-8859-1")

In [26]:
cereal_df

,I_D,FLAG_TSUNAMI,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,FOCAL_DEPTH,EQ_PRIMARY,...,TOTAL_MISSING,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION,TOTAL_HOUSES_DAMAGED,TOTAL_HOUSES_DAMAGED_DESCRIPTION
0,1,No,-2150,NaN,NaN,NaN,NaN,,NaN,7.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Yes,-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,No,-2000,NaN,NaN,NaN,NaN,NaN,18.0,7.1,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
3,5877,Yes,-1610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
4,8,No,-1566,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6188,10488,No,2020,4.0,1.0,12.0,23.0,27,10.0,5.3,...,NaN,NaN,NaN,NaN,11.28,3.0,NaN,NaN,790.0,3.0
6189,10490,Yes,2020,5.0,2.0,12.0,51.0,6,17.0,6.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6190,10491,No,2020,5.0,7.0,20.0,18.0,22,10.0,4.6,...,NaN,NaN,22.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
6191,10494,No,2020,5.0,18.0,13.0,48.0,3,10.0,5.2,...,NaN,NaN,24.0,1.0,NaN,2.0,NaN,1.0,NaN,NaN
6192,10501,Yes,2020,5.0,29.0,5.0,30.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
some_set = set()
some_dict = {}
mag_sep = [5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9.5]

for i, row in cereal_df.iterrows():
    some_type = row['Depth']
    some_set.a
    for i in range(len(mag_sep)-1):
        if some_type >= mag_sep[i] and some_type < mag_sep[i+1]:
            if mag_sep[i] not in some_dict:
                some_dict[mag_sep[i]] = 0
            some_dict[mag_sep[i]] += 1
some_dict
            
#     if some_type > mx:
#         mx = some_type
#     if some_type < mn:
#         mn = some_type
# #     if some_type == 'Explosion':
# #         print(row)
# #     some_set.add(some_type)
# # some_set
# print(mx, mn)

{6: 5051, 5.5: 16058, 6.5: 1565, 8: 34, 8.5: 6, 7: 515, 7.5: 183}

In [100]:
str(cereal_df.iloc[4500]['YEAR'])

'1984'

In [105]:
post_year = 1996
year_dict = {}
full_out = []
mag_keys = set()
mag_sep = []
for i in range(1, 13):
    mag_sep.append(i)
#     mag_sep.append(i + 0.5)

for i, row in cereal_df.iterrows():
    year = row['YEAR']
    month = row['MONTH']
    day = row['DAY']

    if year >= post_year:
        lat = row['LATITUDE']
        lon = row['LONGITUDE']
        mag = row['INTENSITY']        
        if not math.isnan(float(lat)) and not math.isnan(mag):
            inj = row['INJURIES']
            death = row['DEATHS']
            if math.isnan(inj):
                inj = 0
            if math.isnan(death):
                death = 0
                
            injdea = inj + death
            for i in range(len(mag_sep)-1):
                if mag >= mag_sep[i] and mag < mag_sep[i+1]:
                    mag_type = str(mag_sep[i])
            mag_keys.add(mag_type)
            year_key = str(year) + '-01-02'
            if year_key not in year_dict:
                year_dict[year_key] = {}
            if mag_type not in year_dict[year_key]:
                year_dict[year_key][mag_type] = 0
                
            year_dict[year_key][mag_type] += 1
            l = ','.join([str(year), lon, lat, str(mag), mag_type, str(injdea)])
            full_out.append(l)

In [106]:
l

'2020,25.712,34.205,7.0,7,0'

In [107]:
mag_sep

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [108]:
year_dict

{'1996-01-02': {'6': 3, '9': 1, '4': 1, '8': 3},
 '1997-01-02': {'7': 4, '6': 2, '8': 3, '10': 2, '5': 1},
 '1998-01-02': {'8': 4, '5': 1, '7': 1},
 '1999-01-02': {'3': 1, '7': 4, '8': 2, '6': 2, '5': 1, '10': 2, '9': 2},
 '2000-01-02': {'6': 2, '7': 3, '9': 1},
 '2001-01-02': {'8': 4, '10': 1, '6': 3, '9': 1},
 '2002-01-02': {'7': 3, '8': 3, '6': 1, '9': 1},
 '2003-01-02': {'8': 2, '6': 7, '7': 3, '10': 3, '9': 1},
 '2004-01-02': {'6': 6, '9': 1, '8': 1, '5': 1},
 '2005-01-02': {'5': 1, '4': 1, '6': 4, '7': 1, '8': 1},
 '2006-01-02': {'7': 1, '5': 1, '4': 2, '8': 1},
 '2007-01-02': {'8': 3, '6': 2, '5': 2, '7': 2},
 '2008-01-02': {'8': 3, '9': 1, '6': 1},
 '2009-01-02': {'2': 1, '5': 1},
 '2010-01-02': {'9': 2, '6': 5, '4': 1, '7': 2, '5': 2},
 '2011-01-02': {'2': 1, '7': 2, '8': 1},
 '2012-01-02': {'8': 1, '7': 1},
 '2013-01-02': {'8': 2, '3': 1, '6': 2, '7': 3, '4': 4, '5': 1},
 '2014-01-02': {'5': 13,
  '7': 4,
  '3': 3,
  '4': 4,
  '6': 6,
  '8': 3,
  '2': 1,
  '9': 1},
 '2015-01-02': {'6': 4, '4': 11, '5': 9, '3': 3, '8': 2, '7': 4, '9': 1},
 '2016-01-02': {'7': 9,
  '3': 2,
  '6': 11,
  '5': 8,
  '8': 5,
  '4': 5,
  '2': 2,
  '9': 1},
 '2017-01-02': {'6': 2,
  '9': 7,
  '8': 6,
  '2': 1,
  '7': 2,
  '5': 3,
  '3': 2,
  '4': 3},
 '2018-01-02': {'6': 1, '8': 2, '2': 1, '5': 1},
 '2019-01-02': {'7': 2, '6': 1},
 '2020-01-02': {'8': 3, '6': 2, '7': 1}}

In [109]:
mag_keys = sorted(mag_keys)
mag_keys

['10', '2', '3', '4', '5', '6', '7', '8', '9']

In [110]:
with open('../year_mag.csv', 'w') as f:
    l = 'date'
    for mag_key in mag_keys:
        l += ',' + mag_key
    f.write(l + '\n')
    
    for year_key in year_dict:
        l = year_key
        for mag_key in mag_keys:
            if mag_key not in year_dict[year_key]:
                l += ',0'
            else:
                l += ',' + str(year_dict[year_key][mag_key])
        f.write(l + '\n')

In [92]:
with open('../full_out.csv', 'w') as f:
    l = 'id,date,longitude,latitude,magnitude,mag_key,value\n'
    f.write(l)
    for i, l in enumerate(full_out):
        f.write(str(i) + ',' + l + '\n')